:root {
    --main-color: #652a0e;
    --secondary-color: #93E9BE;
  }

#logo {
    background-color: var(--secondary-color);
    color: var(--main-color);
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: auto;
}

#nav {
    gap: 10px;
    margin-top: 1rem;
}

#header {
    background-color: var(--main-color);
}

#nav a {
    color: var(--secondary-color);
}

.dashboard-post {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

.dashboard-post a {
    color: var(--secondary-color);
}

.btn-dashboard {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

.homepage-post {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

.homepage-post a {
    color: var(--secondary-color);
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 100%;
  }